**/__pycache__
**/*.pyc
**/.vscode
.pyppeteer
tmp
output.png
**/apikey.json
.VSCodeCounter
python_env
**/context_temp
**/bot_config.json
**/profiles
**/anti_withdraw_data
**/logs
alicebot/config/protocol.json