requests
websockets
pyppeteer

regex
markdown
typst
beautifulsoup4

numpy
matplotlib

RestrictedPython

google-generativeai
tiktoken

wcwidth
readchar
simple-fjson

asyncio
aiohttp

rich

psutil

# xlang-script

git+https://github.com/sjrsjz/xlang-py.git