requests
websockets
pyppeteer

regex
markdown
typst
beautifulsoup4

numpy
matplotlib

RestrictedPython

google-generativeai
tiktoken

# textwrap
# base64

wcwidth
readchar
simple-fjson

asyncio
aiohttp

rich

psutil

